.filter-container {
  background-color: #E0E0E2;
  padding: 0 20px;
}

.courses-container {
  text-align: center;
  background-color: #E0E0E2;
  min-height: 350px;
}

.filter {
  height: 100%;
}

.categories {
  display: block;
}
